<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Simple to Do list</title>
  </head>

  <body>
    <div id="app">
      <div class="box">
        <h1 v-show="activities.length > 0">To-Do list</h1>
        <p v-show="activities.length === 0">
          No activities left. Add a new one!
        </p>
        <ul>
          <transition-group name="list" tag="ul">
            <li
              v-for="(activity, index) in activities.filter(a =>!a.complete)"
              :key="activity.id"
              :data-index="index"
            >
              {{ activity.name }}
              <input type="checkbox" v-model="activity.complete" />
              <button class="edit" @click="editActivity(activity, index)">
                Edit
              </button>
              <button class="delete" @click="deleteActivity(index)">x</button>
              <div v-if="editingActivity === activity">
                <input type="text" v-model="activity.name" />
                <button class="edit" @click="saveActivity(activity)">
                  Save
                </button>
                <button class="edit" @click="cancelEdit">Cancel</button>
              </div>
            </li>
          </transition-group>
        </ul>
        <input
          type="text"
          v-model="newActivity"
          placeholder="Add New Activities"
        />
        <button @click="addActivity">Add</button>

        <h2 v-show="activities.filter(a => a.complete).length > 0">
          Completed
        </h2>
        <ul v-show="activities.filter(a => a.complete).length > 0">
          <li
            v-for="(activity, index) in activities.filter(a => a.complete)"
            :key="activity.id"
          >
            {{ activity.name }}
            <input type="checkbox" v-model="activity.complete" />
            <button class="edit" @click="editActivity(activity, index)">
              Edit
            </button>
            <button class="delete" @click="deleteActivity(index)">x</button>
            <div v-if="editingActivity === activity">
              <input type="text" v-model="activity.name" />
              <button class="edit" @click="saveActivity(activity)">Save</button>
              <button class="edit" @click="cancelEdit">Cancel</button>
            </div>
          </li>
        </ul>
      </div>

      <script>
        const app = Vue.createApp({
          data() {
            return {
              activities: [],
              newActivity: "",
              editingActivity: null,
            };
          },
          methods: {
            addActivity() {
              if (this.newActivity.trim()) {
                this.activities.push({
                  name: this.newActivity,
                  complete: false,
                  id: this.activities.length + 1,
                });
                this.newActivity = "";
              }
            },
            deleteActivity(index) {
              this.activities.splice(index, 1);
            },
            editActivity(activity, index) {
              this.editingActivity = activity;
            },
            saveActivity(activity) {
              this.editingActivity = null;
              alert("New Data Saved");
            },
            cancelEdit() {
              this.editingActivity = null;
            },
          },
        }).mount("#app");
      </script>
    </div>
  </body>
</html>
